@import '../../../styles.scss';


  .console {
    background-color: $Console-Background;
    color: $Console-Text-Color;
    border: 10px solid $Console-Border;
    font-family: monospace;
    padding: 20px;
    width: 600px;
    height: 200px;
    font-size: $Console-Text-Size;
    overflow-y: auto; 
  
    position: absolute;
    top: 55%;
    left: 55%;

  }
  
  .console div {
    padding-bottom: 10px; 
    border-bottom: 1px solid #ccc; 
  }
  