@import '../../../styles.scss';

.container {
    background-color: $Console-Background;
    color: $Console-Text-Color;
    border: 10px solid $Console-Border;
    font-family: monospace;
    padding: 20px;
    width: 600px;
    height: 300px;
    font-size: $Console-Text-Size;
    overflow-y: auto; /* add a scrollbar to the y-axis */
  
    position: absolute;
    top: 7%;
    left: 55%;

  }

  button{
    background-color: $Console-Background;
    color: $Console-Text-Color;
    border: 5px solid $Console-Border;
    margin: 20px;
    padding: 8px;
    font-size: 30px;

  }